{% extends 'website_base.html' %}
{% load static %}
{% block main %}
  

    <main>
        <!-- page-title-area start -->
        <div id="top-menu" class="page-title-area d-flex align-items-center" data-background="{% static 'website/img/bg/breadcrumb.jpg' %}">
            <div class="container text-center">
                <div class="page-title">
                    <h2>About agency</h2>
                        <div class="breadcrumb-menu">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">About us</li>
                                </ol>
                              </nav>     
                        </div>
                </div>
            </div>
        </div>
        <!-- page-title-area start -->

        <!-- feature-area-start -->
        <section class="feature-area fe-about pos-rel pt-130 pb-95">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12">
                        <div class="row">
                                <div class="col-xxl-6 col-lg-6 col-md-6">
                                    <div class="img-thumb mb-30">
                                        <img src="assets/img/about/01.jpg" alt="">
                                    </div>
                                    <div class="img-thumb mb-30">
                                        <img src="assets/img/about/03.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-lg-6 col-md-6">
                                    <div class="img-thumb img-pd-thumb mt-30 mb-30">
                                        <img src="assets/img/about/02.jpg" alt="">
                                    </div>
                                    <div class="img-thumb mb-30">
                                        <img src="assets/img/about/04.jpg" alt="">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 offset-xxl-1 col-xl-6 offset-xl-1 col-lg-12 col-md-12">
                        <div class="feature_wrapper">
                            <div class="section-title mb-55">
                                <h5>Company History</h5>
                                <h2 class="mb-30">Professional & modren
                                    saas solutions</h2>
                                <p class="pr-75">But must explain to you how all this mistaken denouncing 
                                    praising pain was born and I will give complete </p>
                            </div>
                            <div class="features clearfix mb-35">
                                <div class="features__icon float-start mr-20">
                                    <i class="far fa-check"></i>
                                </div>
                                <div class="features__text pr-145 overflow-hidden">
                                    <h5 class="mb-10">Multipurpose layout</h5>
                                    <p>Quis autem vel eum reprehenderit quiea 
                                        voluptate velit esse molestiae</p>
                                </div>
                            </div>
                            <div class="features clearfix mb-35">
                                <div class="features__icon float-start mr-20">
                                    <i class="far fa-check"></i>
                                </div>
                                <div class="features__text pr-145 overflow-hidden">
                                    <h5 class="mb-10">Rully responsive & editable</h5>
                                    <p>Quis autem vel eum reprehenderit quiea 
                                        voluptate velit esse molestiae</p>
                                </div>
                            </div>
                            <a href="contact.html" class="theme_btn theme_btn_bg">Learn more <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature-area-end -->

        <!--what-we-do-area start-->
        <section class="what-do-area-02 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 wow fadeInUp2 animated" data-wow-delay="0.1s">
                        <div class="section-title text-center pr-50 pl-50 mb-80">
                            <h5>What We Do</h5>
                            <h2>Awesome solutions for 
                                digital marketing</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.2s">
                        <div class="do_box do_box_02 grey-bg text-center mb-30">
                            <div class="do_box__icon mb-40">
                                <i class="flaticon-search-engine-optimization-1"></i>
                            </div>
                            <h4>SEO optimizations</h4>
                            <p>Quis autem vel eum reprehen
                                    derit quiea uptate </p>
                            <a href="about.html"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.2s">
                        <div class="do_box do_box_02 grey-bg text-center mb-30">
                            <div class="do_box__icon icon_02 mb-40">
                                <i class="flaticon-marketing"></i>
                            </div>
                            <h4>Media marketing</h4>
                            <p>Quis autem vel eum reprehen
                                    derit quiea uptate </p>
                            <a href="about.html"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.2s">
                        <div class="do_box do_box_02 grey-bg text-center mb-30">
                            <div class="do_box__icon icon_03 mb-40">
                                <i class="flaticon-social-media"></i>
                            </div>
                            <h4>Email marketing</h4>
                            <p>Quis autem vel eum reprehen
                                    derit quiea uptate </p>
                            <a href="about.html"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.2s">
                        <div class="do_box do_box_02 grey-bg text-center mb-30">
                            <div class="do_box__icon icon_04 mb-40">
                                <i class="flaticon-bar-chart"></i>
                            </div>
                            <h4>Business strategy</h4>
                            <p>Quis autem vel eum reprehen
                                    derit quiea uptate </p>
                            <a href="about.html"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--what-we-do-area end-->

        <!--counter-area start-->
        <section class="counter-area theme-bg pt-80 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp2 animated" data-wow-delay=".1s">
                        <div class="counters d-flex align-items-center mb-30">
                            <div class="counters__icon pos-rel mr-25">
                                <i class="flaticon-monitoring"></i>
                            </div>
                            <div class="counters__content">
                                <h2 class="counter">3527</h2>
                                <p>Project Compalte</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp2 animated" data-wow-delay=".2s">
                        <div class="counters d-flex align-items-center mb-30">
                            <div class="counters__icon pos-rel mr-25">
                                <i class="flaticon-bar-chart"></i>
                            </div>
                            <div class="counters__content">
                                <h2><span class="counter">93</span>%</h2>
                                <p>Success History</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp2 animated" data-wow-delay=".3s">
                        <div class="counters d-flex align-items-center mb-30">
                            <div class="counters__icon pos-rel mr-25">
                                <i class="flaticon-setting"></i>
                            </div>
                            <div class="counters__content">
                                <h2 class="counter">7456</h2>
                                <p>Awards Winning</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp2 animated" data-wow-delay=".4s">
                        <div class="counters d-flex align-items-center mb-30">
                            <div class="counters__icon pos-rel mr-25">
                                <i class="flaticon-technical-support"></i>
                            </div>
                            <div class="counters__content">
                                <h2 class="counter">99.93</h2>
                                <p>Services Rating</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--counter-area end-->



        <!--testimonial-area start-->
        <section class="testimonial-area-03 pos-rel grey-bg pt-125 pb-125">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3">
                        <div class="section-title text-center pr-20 pl-20 mb-80">
                            <h5>Customer Reviews</h5>
                            <h2>2356+ customer say about 
                                our support</h2>
                        </div>
                    </div>
                </div>
                <div class="row testimonial-active-06 mb-90">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/03.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>David Warner</h4>
                                    <span class="theme-color">Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/04.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>Somalia D Silva</h4>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/05.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>Luis Ustas</h4>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/04.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>Somalia D Silva</h4>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/03.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>David Wrner</h4>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonial-item">
                        <div class="text_inner text_inner_02 pos-rel white-bg">
                            <div class="testimonial-author d-flex align-items-center mb-30">
                                <div class="testimonial-author__img author-testi mr-20">
                                    <img src="assets/img/testimonial/05.png" alt="">
                                </div>
                                <div class="testimonial-author__content about-testi">
                                    <h4>Luis Ustas</h4>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>On the other hand denounrighte indigna
                                tion and disliks men who are beguiled dem
                                pleasure momentc blinded </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--testimonial-area end-->

        
    </main>

    {% endblock main %}