{% extends 'website_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block main %}
  

    <main>

        <!-- subscribe-area-start -->
        <section class="subscribe-area grey-bg pt-95 pb-100">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 wow fadeInUp2  animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp2;">
                        <div class="section-title black-title text-center">
                            <h5>Join Us Now </h5>
                            <h2>Create New Company</h2>
                            <div class=" mt-60">
                                <form class="subscribe-form" method="post">
									{% csrf_token %}
									{% bootstrap_form form %}
									{% buttons %}
										<button type="submit" class="theme_btn theme_btn_bg">{% trans 'Submit' %}</button>
									{% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-area-end -->
        
    </main>
	<style>
		.main-header-area{background-color: #0e1124 !important;}
	</style>
    {% endblock main %}