{% extends 'settings_base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">{% trans 'Discount Types' %}</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="">{% trans 'Dashboard' %}</a></li>
						<li class="breadcrumb-item active">{% trans 'Settings' %}</li>
						<li class="breadcrumb-item active">{% trans 'Discount Types ' %}</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i
							class="fa fa-plus"></i> {% trans 'Add New Type' %}</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div>
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th style="width: 30px;">#</th>
								<th> {% trans 'Name' %}</th>
								<th class="text-right">{% trans 'Action' %}</th>
							</tr>
						</thead>
						<tbody>

							{% for obejct in object_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{obejct}}</td>
								<td class="text-right">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-toggle="modal"
												data-target="#delete_department{{obejct.id}}"><i
													class="fa fa-trash-o m-r-5"></i>{% trans 'Delete' %} </a>
										</div>
									</div>
								</td>
							</tr>
							<!-- Delete Department Modal -->
							<div class="modal custom-modal fade" id="delete_department{{obejct.id}}" role="dialog">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-body">
											<div class="form-header">
												<h3>Delete Type</h3>
												<p>Are you sure want to delete?</p>
											</div>
											<div class="modal-btn delete-action">
												<div class="row">
													<div class="col-6">
														<a href="{% url 'settings:discount-types-delete' obejct.id %}"
															class="btn btn-primary continue-btn">Delete</a>
													</div>
													<div class="col-6">
														<a href="javascript:void(0);" data-dismiss="modal"
															class="btn btn-primary cancel-btn">Cancel</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Delete Department Modal -->
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-12 col-md-5">
				<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
					Showing {{object_list|length}}  entrie{{ object_list|pluralize:"s" }}.</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Department Modal -->
	<div id="add_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Type</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST">
						{% csrf_token %}
						{% bootstrap_form form  %}
						{% buttons %}
						<button type="submit" class="btn btn-primary submit-btn">Submit</button>
						{% endbuttons %}

					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Department Modal -->

	<!-- Edit Department Modal -->
	<div id="edit_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Department</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>Department Name <span class="text-danger">*</span></label>
							<input class="form-control" value="IT Management" type="text">
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Department Modal -->


</div>
<!-- /Page Wrapper -->
  
			{% endblock content %}