{% load i18n %}
{% for employee in object_list %}
<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
    <div class="profile-widget">
        <div class="profile-img">
            <a href="{% url 'accounts:employee_detail' employee.id %}" class="avatar">
                
                {% if employee.user_profile.image %}
                    <img src="{{employee.user_profile.image.url}}" alt="">
                {% endif %}
                    
                
            </a>
        </div>
        
        {% if request.user.is_hr %}
            <div class="dropdown profile-action">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="material-icons">more_vert</i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item btn btn-info btn-sm-x  js-update" data-url="{% url 'hr:employee_edit' employee.id %}"><i class="fa fa-pencil m-r-5"></i> {% trans 'Edit' %} </button>
                    <button class="dropdown-item btn btn-danger btn-sm-x js-delete" data-url="{% url 'hr:employee_delete' employee.id %}"><i class="fa fa-trash-o m-r-5"></i> {% trans 'Delete' %} </button>
                
                </div>
            </div>
        {% endif %}
            

        <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                href="{% url 'accounts:employee_detail' employee.id %}">{{employee.user_profile.en_name}}</a></h4>
        <div class="small text-muted">{{employee.user_job.job_type}}</div>
    </div>
</div>
{% endfor %}