{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}
<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">{% trans 'Department' %}</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="">{% trans 'Dashboard' %}</a></li>
						<li class="breadcrumb-item active">{% trans 'Department' %}</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<button class="btn add-btn js-create" data-url="{% url 'hr:department_create' %}"><i class="fa fa-plus"></i> {% trans 'Add Department' %}</button>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div>
					<table class="table table-striped custom-table mb-0 datatable" id="departments-table">
						<thead>
							<tr>
								<th style="width: 30px;">#</th>
								<th>{% trans 'Department Name' %}</th>
								<th class="text-right">{% trans 'Action' %}</th>
							</tr>
						</thead>
						<tbody>

							{% include "includes/departments_list.html" %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-12 col-md-5">
				<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
					{% trans 'Showing' %} {{departments|length}} of {{depratments_count}} {% trans 'entries' %} </div>
			</div>
			<div class="col-sm-12 col-md-7">
				<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
					{% if departments.has_other_pages %}
						<ul class="pagination">
							{% if departments.has_previous %}
								<li class="paginate_button page-item previous " id="DataTables_Table_0_previous"><a
									href="?page={{ departments.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
									class="page-link">{% trans 'Previous' %}</a></li>
							{% else %}
								<li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
									class="page-link">{% trans 'Previous' %}</a></li>
							{% endif%}

							{% for i in departments.paginator.page_range %}
								{% if departments.number == i %}
									<li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
										data-dt-idx="1" tabindex="0" class="page-link">{{ i }} </a></li>
								{% else %}
									<li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0"
										data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
								{% endif %}
							{% endfor %}

							{% if departments.has_next %}		
								<li class="paginate_button page-item next " id="DataTables_Table_0_next"><a href="?page={{ departments.next_page_number }}"
									aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
									class="page-link">{% trans 'Next' %}</a></li>
							{% else %}
								<li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#"
									aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
									class="page-link">{% trans 'Next' %}</a></li>
							{% endif %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->



	<!-- Edit Department Modal -->
	<div id="edit_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

			</div>
		</div>
	</div>
	<!-- /Edit Department Modal -->


</div>
<!-- /Page Wrapper -->
{% endblock body %}

{% block javascript %}
<script src="{% static 'hr/handel_departments_ajax.js' %}"></script>		  
{% endblock javascript %}