{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">{% trans 'Holidays' %} {{year}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="">{% trans 'Dashboard' %}</a></li>
									<li class="breadcrumb-item active">{% trans 'Holidays' %}</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn js-create" data-url="{% url 'hr:holiday_create' %}"><i class="fa fa-plus"></i>{% trans 'Add Holiday' %} </button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0" id="holiday-table">
									<thead>
										<tr>
											<th>#</th>
											<th>{% trans 'Title' %} </th>
											<th>{% trans 'Holiday Start Date' %}</th>
											<th>{% trans 'Holiday End Date' %}</th>
											<th>{% trans 'Action' %}</th>
										</tr>
									</thead>
									<tbody>	
										{% include 'includes/holiday_list.html' %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<!-- Add Holiday Modal -->
				<div class="modal custom-modal fade" id="add_holiday" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">

						</div>
					</div>
				</div>
				<!-- /Add Holiday Modal -->
				
            </div>
			<!-- /Page Wrapper -->
		
			{% endblock body %}



			{% block javascript %}
<script src="{% static 'hr/handel_holiday_ajax.js' %}"></script>		  
{% endblock javascript %}