// Font Family
$circular: 'Circular Std Book';
$circular2: 'Circular Std';

// Colors ---------------
$white: #ffffff;
$black: #222;
$black2: #031f42;
$black3: #0e1124;
$black4: #1c203a;
$grey:#f4f7fa;
$red: #e92e40;
$yellow: #feb100;
$yellow-2: #ffc221;
$yellow-3: #fed058;
$yellow-4: #e5aa8f;
$yellow-5: #fb6e45;
$yellow-6: #ffcdbe;
$yellow-7: #fe8b59;
$green: #96ca6f;
$theme-color:#0071dc;
$theme-color2:#003373;
$theme-color3:#2869f9;
$theme-color4:#46b375;
$theme-color5:#fc4a1a;
$body-text-color: #7a7a7a;
$hr-border-color:#ededed;
$border1: #f1f1f1;
$border2: #dbdbdb;
$border3: #eaeaea;
$border4: #2d354d;

// smiller theme-color 04
$green1: #57c888;

// social-media-color
$facebook: #0676e8;
$twitter: #1da1f2;
$youtube: #ff0101;
$linkedin: #0a66c2;

// Heading Color
$heding: #1c243e;
$heding2: #161c2d;

//sotf-color
$white1: #edf5fd;
$white2: #f7f7f7;
$white3: #d9dee2;
$white4: #f4f4f4;
$white5: #f5f7fc;
$white6: #eeecec;
$white7: #e7edf3;
$white8: #e8e8e8;
$white9: #e5e5e5;

$black-sotf1: #212529;
$black-sotf2: #232323;
$black-sotf3: #000408;
$black-sotf4: #212121;
$black-sotf5: #323232;


$grey-soft1: #616161;
$grey-soft2: #757575;
$grey-soft3: #919191;
$grey-soft4: #898989;
$grey-soft5: #b7b7b7;
$grey-soft6: #d0cccc;
$grey-soft7: #9c9ea0;

$red-soft: #ff0000;

$yellow-soft1: #fd6938;

$blue-soft1: #127bde;
$blue-soft2: #266de8;
$blue-soft3: #4936ba;

// Disable color
$disable: #eff0f1;
$disable-2: #338de3;
$disable-3: #cce3f8;

// Responsive Variables

$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1900px)';
$xxl: 'only screen and (min-width: 1400px)';
$lp: 'only screen and (min-width: 1400px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

  