{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Change Password</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Account</a></li>
						<li class="breadcrumb-item active">Change Password</li>
					</ul>
				</div>
            </div>
        </div>
        <div class="row staff-grid-row">
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3"></div>
					
                <form action="" method="post">
                {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-lg btn-primary" value="Change password">
                            Change password
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

