{% load i18n %}

{% for type in object_list %}	
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{type}}</td>
    <td>{{type.description}}</td>
    <td>
        <div class="dropdown action-label">
            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                
                {% if type.status == "ACTIVE" %}
                    <i class="fa fa-dot-circle-o text-success"></i> Active
                {% else %}
                    <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                {% endif %}
                
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Active</a>
                <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Inactive</a>
            </div>
        </div>
    </td>
    <td class="text-right">
        <div class="dropdown dropdown-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="btn btn-info btn-sm-x  js-update" data-url="{% url 'hr:training_type_edit' type.id %}"><i class="fa fa-pencil m-r-5"></i> {% trans 'Edit' %} </button>
                <button class="btn btn-danger btn-sm-x js-delete" data-url="{% url 'hr:training_type_delete' type.id %}"><i class="fa fa-trash-o m-r-5"></i> {% trans 'Delete' %} </button>
            </div>
        </div>
    </td>
</tr>
{% endfor %}

