{% load i18n %}
{% load bootstrap4 %}
<div class="modal-header">
    <h5 class="modal-title">{% trans 'Create Project' %}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="POST" enctype="multipart/form-data" class="project_save_from" action="{% url 'manager:project_edit' form.instance.pk %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">{% bootstrap_field form.name %} </div>
            <div class="col-md-6">{% bootstrap_field form.client %}</div>
            <div class="col-md-6">{% bootstrap_field form.start_date %}</div>
            <div class="col-md-6">{% bootstrap_field form.end_date %}</div>
            <div class="col-md-6">{% bootstrap_field form.piriority %}</div>
            <div class="col-md-6">{% bootstrap_field form.leader %}</div>
            <div class="col-md-6">{% bootstrap_field form.team %}</div>
            <div class="col-md-6">{% bootstrap_field form.attachment %}</div>
            <div class="col-md-12">{% bootstrap_field form.description %}</div>
        </div>
        {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        {% endbuttons %}
    </form>
</div>